body,
html {
margin: 0;
padding: 0;
color: #e8ecf0;
background: #85a2a2 url('spiffform/res/noise.png') repeat right top;
}

#wrap {
margin: 0 auto;
width: 1020px;
}

#header {
padding: .8em 2em;
margin-bottom: 15px;
background: #2a5350;
border-bottom: 1px solid #033;
}

#header h1 {
margin: 0;
padding: 0;
}

#center {
float: left;
width: 750px;
}

#sidebar {
color: #000;
float: right;
width: 270px;
}

#buttons {
text-align: center;
}

#buttons label {
display: block;
font-size: 1.4em;
}

#buttons input {
padding: .5em;
margin-bottom: 12px;
}

#sidebar-elements {
display: none;
}

#sidebar-elements h3 {
font-size: 1.3em;
color: #e8ecf0;
background-color: #448782;
padding: .4em;
margin: 0 5px;
}

.ui-elements {
list-style-type: none;
margin: 0;
padding-left: 10px;
padding-bottom: 10px;
}

.ui-elements li {
background-repeat: no-repeat;
background-position: 0 .5em;
padding: .5em 0 .5em 30px;
}

#ui-name {
background-image: url('spiffform/res/entry.png');
}

#ui-entry {
background-image: url('spiffform/res/entry.png');
}

#ui-text {
background-image: url('spiffform/res/textview.png');
}

#ui-button {
background-image: url('spiffform/res/button.png');
}

#ui-checkbox {
background-image: url('spiffform/res/checkbutton.png');
}

#ui-calendar {
background-image: url('spiffform/res/calendar.png');
}

#ui-combo {
background-image: url('spiffform/res/combo.png');
}

#ui-radio {
background-image: url('spiffform/res/radio.png');
}

#ui-separator {
background-image: url('spiffform/res/separator.png');
}

#ui-infobox {
background-image: url('spiffform/res/infobox.png');
}
