.spiffform {
font-family: sans-serif;
border: 1px solid #888888;
background: #f0f2f8;
color: #000;
width: 680px;
margin: 0 auto;
padding: 10px 20px;
}

.spiffform-title,
.spiffform-subtitle,
.spiffform-canvas {
margin: 0;
padding: 0;
}

.spiffform-title {
font-size: 1.4em;
color: #700;
margin: 0 .2em .2em .2em;
text-align: left;
}

.spiffform-subtitle {
font-size: 1.05em;
font-weight:normal;
width: 680px;
color: #500;
background: #f0f2f8;
margin: .2em auto;
border: 0;
}

.spiffform-canvas {
margin-top: 4px;
text-align: center;
}

.spiffform-canvas hr {
border: 0;
height: 1px;
background: #bbb;
}

.spiffform-canvas-elements {
list-style-type: none;
margin: 0 auto;
padding-left: 10px;
padding-bottom: 10px;
}

.spiffform-canvas-placeholder {
border: 1px dashed #fd5;
background: #ffd;
}

.spiffform-canvas-elements li {
padding-left: -10px;
margin-left: -10px;
}

.spiffform-canvas-elements li.spiffform-canvas-item {
background: #f0f2f8;
border: 1px solid #f0f2f8;
}

.spiffform-canvas-elements li.spiffform-canvas-item:hover {
background: #fffad7;
border: 1px dashed #fe1;
}

.spiffform-canvas-elements li.spiffform-canvas-item-selected {
background: #ffef78;
border: 1px dashed #b69c00;
}

.spiffform-canvas-elements li.spiffform-canvas-item-selected:hover {
background: #fffad7;
border: 1px dashed #fa1;
}

.spiffform-canvas-elements label {
display: block;
clear: both;
text-align: left;
margin: 3px;
margin-top: 8px;
}

.spiffform-canvas-elements input,
.spiffform-canvas-elements select,
.spiffform-canvas-elements textarea {
display: block;
margin: 0 auto;
width: 670px;
}

.spiffform-canvas-item input,
.spiffform-canvas-item select,
.spiffform-canvas-item textarea {
border: 1px solid #aaa;
}

.spiffform-canvas-item input,
.spiffform-canvas-item textarea {
padding: 3px;
width: 664px;
}

.spiffform-canvas-item textarea {
height: 140px;
}

.spiffform-canvas-elements .spiffform-ui-checkbox label {
text-align: left;
width: 670px;
}

.spiffform-canvas-elements .spiffform-ui-checkbox input {
display: inline;
width: 1.2em;
}

.spiffform-canvas-elements .spiffform-ui-button {
text-align: right;
margin: .5em 0;
}

.spiffform-canvas-elements .spiffform-ui-button input {
display: inline;
width: auto;
padding: .3em 1.3em;
}

.spiffform-required {
color: #f00;
}

.spiffform-canvas-hint {
font-family: serif;
font-size: 1.3em;
font-weight: normal;
color: #53697f;
border: 1px dashed #f0f2f8;
}

.spiffform-canvas-hint span {
margin: 3em auto;
display: inline-block;
}

.spiffform-canvas-hint-arrow-right span {
padding-right: 35px;
background-image: url('arrow-right.png');
background-repeat: no-repeat;
background-position: top right;
}

.spiffform-canvas-hint-delete {
background: #ffebeb;
border: 1px dashed #ffc5c5;
padding: 0 3em;
}

.spiffform-panel {
margin: 0 5px 15px 5px;
background: #fefefe;
border: 2px solid #ffef78;
}

.spiffform-panel h3 {
font-size: 1.3em;
color: #222;
background-color: #ffef78;
padding: .4em;
margin: 0;
}

.spiffform-panel-content {
margin: 6px;
text-align: right;
}

.spiffform-panel-content div {
margin: 3px auto;
}

.spiffform-panel-content input[type=text],
.spiffform-panel-content textarea {
width: 180px;
padding: 3px;
vertical-align: middle;
}

.spiffform-panel-content textarea {
height: 180px;
}

.spiffform-panel-content input,
.spiffform-panel-content select,
.spiffform-panel-content textarea {
border: 1px solid #aaa;
}

.spiffform-panel-content textarea {
height: 180px;
}

.spiffform-panel-content ul {
list-style-type: none;
}

.spiffform-panel-content ul input[type=text] {
display: inline-block;
width: 156px;
}

.spiffform-panel-content ul input[type=button] {
display: inline-block;
float: right;
margin: 2px 0 2px 3px;
width: 20px;
height: 24px;
}
